.title-Device-Page{
    width: 100%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.image-Device-Page{
    width: 80%;
    height: 40%;
    border-radius: 10px;
}
.container-line-Device-Page{
    width: 100%;
    display: flex;
    align-items: center
}
.text-Device-Page{
    width:30%;
    display: flex;
    justify-content: end;
    height: 23px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}
.text-value-Device-Page{
    width:60%;
    display: flex;
    justify-content: start;
    height: 18px;
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}
.input-value-Device-Page{
    width:55%;
    display: flex;
    justify-content: start;
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 10px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
}
.MuiBackdrop-root .MuiBackdrop-invisible .MuiModal-backdrop .css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop{

}
#demo-simple-select{
    width: 60%!important;
}
