.title-Rent-Page{
    width: 100%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.image-Rent-Page{
    width: 80%;
    height: 40%;
    border-radius: 10px;
}
.container-line-Rent-Page{
    width: 100%;
    display: flex;
    align-items: center
}
.text-Rent-Page{
    width:30%;
    display: flex;
    justify-content: end;
    height: 23px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}
.text-value-Rent-Page{
    width:60%;
    display: flex;
    justify-content: start;
    height: 18px;
    font-family: 'Inter', sans-serif ;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}


