.title-Rent-Page {
    width: 100%;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.image-Rent-Page {
    width: 80%;
    height: 40%;
    border-radius: 10px;
}

.container-line-Rent-Page {
    width: 100%;
    display: flex;
    align-items: center
}

.text-Rent-Page {
    width: 30%;
    display: flex;
    justify-content: end;
    height: 23px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}

.text-value-Rent-Page {
    width: 60%;
    display: flex;
    justify-content: start;
    height: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

.input-rent-Devices {
    /* box-sizing: border-box !important; */
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 8px !important;
    min-width: 550px !important;
    height: 50px !important;
    background: #FFFFFF !important;
    border: 2px solid #D9D9D9 !important;
    border-radius: 10px !important;
    font-family: 'Inter', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: -0.165px !important;
    color: #000000 !important;
    opacity: 0.7 !important;
    text-align: center !important;
    /* margin-left: 5% !important; */
    width: 50%
}

.text-label-Page {
    /* width:30%; */
    display: flex;
    justify-content: start;
    height: 23px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
}


